body {
  font-family: Arial, sans-serif;
}

.hero {
  height: 90vh;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
  url("https://wallpapercave.com/wp/wp12928032.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

.hero-slide {
  height: 90vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-overlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: fadeSlide 1.5s ease;
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Fade animation */
.animate-fade {
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.coach-card {
  transition: transform 0.4s;
}

.coach-card:hover {
  transform: translateY(-10px);
}

.training-card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.training-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.scroll-animate {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.8s ease;
}

.scroll-animate.show {
  opacity: 1;
  transform: translateY(0);
}
