section{
    border: 3px solid;
    padding: 30px;
    margin: auto;
    width: 50%;
}
hr{
    border: 2px solid #000;
}
h3{
    color: green;
}
h4{
    color: blue;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

















