body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section{
    border: 3px solid #333;
    max-width: 50%;
     margin: auto;
    /* padding: 30px; */

}


header{
    padding: 20px;
    position: relative;
}
.logo{
    width: 150px;
    display: flex;
    justify-content: space-around;
}
img{
    border: 1px solid;
    width: 40px;
    height: 40px;
    /* background: #000; */
}
nav{
    display: flex;
    float: right;
    justify-content: space-between;
 margin-top: -50px;
}
a{
    color: #000;

}
.content{
    text-align: center;
    margin: 100px auto;
}

main{
    border: 1px solid;
    display: flex;
}
.left,.center,.right{
    width: 700px;

    border: 1px solid;
}
.left{
    border-left: none;
}
li{
   padding: 10px;
    list-style-type: none;
}
h3{
    text-align: center;
}

.center{
    padding: 30px;
}
.profile{
    text-decoration: none;
    color: rgb(13, 167, 218);
}
.right{
    border-right: none;
    padding: 20px;
}
.testimony-container{
    display: flex;
}
.test1,.test2,.test3{
    border: 1px solid;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}

span{
    color: gray;
}

.endnote{
    text-align: center;
}









